<html>
<head>
  <title>Cereal Killer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/cerealkiller.css">

  <style type="text/css">
  * {margin: 0; padding: 0;}
  #container {height: 100%; width:100%; font-size: 0;}
  #left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
  #left {width: 20%; }
  #middle {width: 59%}
  #right {width: 20%; }
  </style>

</head>
<body>
  <center>

    <!-- Navigation Bar -->
    <div class="topnav">
      <a href="/"><img src="/static/img/home_button.png"></a>
      <a href=/about>About</a>
      <a href=/slides>Slides</a>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>

  </center>
</body>
</html>
