{% extends "base.html" %}
{% block content %}

  <div style="height:100"></div>
  <!-- Output and spoons -->
  <div id="container">
    <div id="left"> <img src="/static/img/spoon.png" height="500"></div>

    <div id="middle"; style="height:500;">
      <p>Click image to download</p>
      <a download="example_01.jpg" href="/static/img/example_01.jpg">
        <img src="/static/img/example_01.jpg"  height="500" style="margin:20px">
      </a>
      <a download="example_02.jpg" href="/static/img/example_02.jpg">
        <img src="/static/img/example_02.jpg"  height="500" style="margin:20px">
      </a>
      <a download="example_03.jpg" href="/static/img/example_03.jpg">
        <img src="/static/img/example_03.jpg"  height="500" style="margin:20px">
      </a>
    </div>
    <div id="right"><img src="/static/img/spoon.png" height="500"></div>
  </div>


{% endblock %}
