<html>
  <head>
    <title>Cereal Killer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Cereal Killer</h1>


    <form action="/predict" method="post" enctype="multipart/form-data">
     <input type="file" name="image" value="Upload">
     <input type="submit" value="Predict"> {% if label %} {{ label }} {% endif %}
   </form>


   <div>

     <img src="{{image}}">
   </div>
   <img src="/image.png">

  </body>
</html>
