{% extends "base.html" %}
{% block content %}
    <!-- Logo -->
    <div class="logo">
      <a href=/><img src="/static/img/cerealkiller_logo.png" height="200"></a>
    </div>

    <!-- Input Form -->
    <div class="input_form"  {width: 59%}>
    <p>Step 1: Check your allergens</p>

    <form action="/index" method="post" enctype="multipart/form-data">

      <div class="checkboxes">
        <label class="checkbox-inline">
          <input type="checkbox" name="allergy" value="wheat">Wheat
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="allergy" value="soy">Soy
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="allergy" value="tree_nut">Tree nuts
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="allergy" value="coconut">Coconut
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="allergy" value="sesame">Sesame
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="allergy" value="peanut">Peanut
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="allergy" value="egg">Egg
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="allergy" value="milk">Milk
        </label>
      </div>

      <p>Step 2: Upload photo of cereal boxes</p>

      <input type="file" name="image" value="Upload">
      <input type="submit" value="Predict"> {% if label %} {{ label }} {% endif %}
    </form>
  </div>

  <!-- Output and spoons -->
  <div id="container">
    <div id="left"> <img src="/static/img/spoon.png" height="500"></div>

    <div id="middle"; style="height:500; border:1px solid black; ">
      {% if figure is defined %}
      <img src={{ figure }} alt="Image Placeholder">
      {% endif %}
    </div>
    <div id="right"><img src="/static/img/spoon.png" height="500"></div>
  </div>

  {% endblock %}
