{% extends "base.html" %}
{% block content %}

<!-- Maintain checkbox status after submit and refresh -->
<script>
document.addEventListener("DOMContentLoaded", function(){

  var checkbox = document.querySelectorAll("input[type='checkbox']");

  for(var item of checkbox){
    item.addEventListener("click", function(){
      localStorage.s_item ? // verifico se existe localStorage
      localStorage.s_item = localStorage.s_item.indexOf(this.id+",") == -1 // verifico de localStorage contém o id
      ? localStorage.s_item+this.id+"," // não existe. Adiciono a id no loaclStorage
      : localStorage.s_item.replace(this.id+",","") : // já existe, apago do localStorage
      localStorage.s_item = this.id+",";  // não existe. Crio com o id do checkbox
    });
  }

  if(localStorage.s_item){ // verifico se existe localStorage
    for(var item of checkbox){ // existe, percorro as checkbox
      item.checked = localStorage.s_item.indexOf(item.id+",") != -1 ? true : false; // marco true nas ids que existem no localStorage
    }
  }
});
</script>


<!-- Logo -->
<span class="logo">
  <a href=/><img src="/static/img/cerealkiller_logo2.png" height="120"></a>
  <h1><i>quickly find allergy-safe cereals</i></h1>
</span>


<!-- Input Form -->
<div class="input_form"  {width: 59%}>
  <p>What are you allergic to?</p>

  <form action="/index" method="post" enctype="multipart/form-data">

    <div class="checkboxes">
      <label class="checkbox-inline">
        <input type="checkbox" id="coconut" name="allergy" value="coconut">Coconut
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="egg" name="allergy" value="egg">Egg
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="milk" name="allergy" value="milk">Milk
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="peanut" name="allergy" value="peanut">Peanut
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="sesame" name="allergy" value="sesame">Sesame
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="soy" name="allergy" value="soy">Soy
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="tree_nut" name="allergy" value="tree_nut">Tree nuts
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="wheat" name="allergy" value="wheat">Wheat
      </label>
    </div>

    <p>Upload photo of multiple cereal boxes.</p>

    <input type="file" name="image" value="Upload">
    <input type="submit" value="Run"> {% if label %} {{ label }} {% endif %}
  </form>
</div>

<div class="example_images">
  <p>Here are some example images:</p>
  <a download="example_01.jpg" href="/static/img/example_01.jpg">
    <img src="/static/img/example_01_thumbnail.png"  height="100" style="margin:20px">
  </a>
  <a download="example_02.jpg" href="/static/img/example_02.jpg">
    <img src="/static/img/example_02_thumbnail.png"  height="100" style="margin:20px">
  </a>
  <a download="example_03.jpg" href="/static/img/example_03.jpg">
    <img src="/static/img/example_03_thumbnail.png"  height="100" style="margin:20px">
  </a>
  <p>Green = safe | Red = unsafe | Yellow = uncertain</p>
</div>

<!-- Output and spoons -->
<div id="container">
  <div id="left"> <img src="/static/img/spoon.png" height="500"></div>

  <div id="middle"; style="height:500; border:2px solid #4588ba; ">
    {% if figure is defined %}
    <img src={{ figure }} alt="Image Placeholder" class="contain"/>
    {% endif %}
  </div>
  <div id="right"><img src="/static/img/spoon.png" height="500"></div>
</div>



{% endblock %}
