{% extends "base.html" %}
{% block content %}

  <div style="height:100"></div>
  <!-- Output and spoons -->
  <div id="container">
    <div id="left"> <img src="/static/img/spoon.png" height="500"></div>

    <div id="middle"; style="height:500;">
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS2aRzXjgFuEmGOUvxLV0NGsc8iEneO18IeqGgIhgfCPWBexa4j4UzqoLvVxBK_6TwBRYvOOiOtEP5n/embed?start=false&loop=false&delayms=60000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
    <div id="right"><img src="/static/img/spoon.png" height="500"></div>
  </div>


{% endblock %}
