/* basic elements */
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	font: normal normal  13px "Arial", sans-serif;
	color: black;
	background-color: #edede6;
	margin: 0;
	padding: 0;
}

p {
	font: normal normal bold 13px "Arial", sans-serif;
	margin-top: 0;
	text-align: justify;
	margin-bottom: 5px;
}
p.indent { padding-left: 2em; }


a:link {
	font: 13px "Arial";
	font-weight: bold;
	text-decoration: none;
	color: black;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #4588ba;
}

/* Navigation bar */
.topnav {
	overflow: hidden;
	border-bottom: 2px solid #4588ba;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: 'black';
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.logo {
	margin-top:30px;
	margin-bottom:30px;
}

.checkboxes {
	margin-bottom:10px;
}

.checkboxes label {
	display: inline-block;
	padding-right: 10px;
	white-space: nowrap;
}

.input_form {
	width: 59%;
	margin-bottom:10px;
}
